body {
  background-color: #000000;
  color: #fff;
  border: 1px solid rgb(70, 147, 248);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

img {
  max-width: 100%;
  width: 300px;
  height: auto;
  border: 1px solid rgb(70, 147, 248);
}

.title {
  text-align: center;
  font-size: 2.2rem;
  margin: 0;
  color: rgb(70, 147, 248);
}

.quote-text {
  text-align: center;
  word-spacing: 0.2rem;
  font-size: 1.2rem;
}
